[Unit]
Description=Riot API FastAPI Service
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/riot-api-consumer
ExecStart=/riot-api-consumer/.venv/bin/python3 main.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
